<link rel="stylesheet" href="css/main-style.css">
<p id="time">00:00:00, 0000/00/00</p>

<header class="section">
    <h1>Project Solo-1</h1>
</header>

<hr>

<nav>
    <ul>
        <li><a href="index.html" target="_top">Home</a></li>
        <li><a href="Literature.html" target="_top">Literature</a></li>
        <li><a href="Project-Euler.html" target="_top">Project Euler</a></li>
        <li><a href="Features.html" target="_top">Features</a></li>
        <li><a href="Cryptography.html" target="_top">Cryptography</a></li>
        <li><a href="Reference.html" target="_top">Reference</a></li>
    </ul>
</nav>

<hr>